/* this is css for result page */

/* this is css for graph in result page */
html{

  font-size: 62.5%;
}
.graph{
  margin:auto;
    display: flex;
    font-size: larger;
    justify-content: space-around;
   flex-wrap: wrap;
   width: 80vw;
  height: auto;
}

.graph1{
  margin: 30px;
    height: 40vh;
    flex : 1 1 35vh;
}
.graph2{
  margin: 30px;
  height: 30vh;
  flex : 1 1 35vh;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

/* this is css for vote card inside result page */

* {
  box-sizing: border-box;
}

.parent {
  margin:auto;
  display: flex;
  justify-content: space-around;
  border: .75em solid white;
  font-family: 'Open Sans', sans-serif;
  width: 80vw;
  height: auto;
  flex-wrap: wrap;
  transition: all 0.2 linear;
}

.child {
  height:35vh;
  overflow: hidden;
  border-radius: .5em;
  text-decoration: none;
  background:  purple;
  margin: 20px;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .7);
  transition: transform .45s ease .45s ease;
  flex: 1 1 35vh;
}
.child:first-child{
  background:  #3A9BDC;
}
.child:last-child{
  background: orange;
}
  
  h3{
    color:white;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: .5em;
    margin: 0 0 0.132857143em;
    border-bottom: 2px solid #753BBD;
    transition: color .45s ease, border .45s ease;
  }

  h4 {
    color:white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color .45s ease;
  }

  p {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity .45s ease, transform .5s ease;
  }
  
    
   .child:hover {
    background: #1b1b1b;
    transform: scale(1.02);
  }
@media (max-width:998px) {
  html{
  font-size: 90%;
  }
}
@media (max-width:768px) {
  html{
  font-size: 90%;
  }
}