 /* this is css for voting  page */
*{
    margin: 0px;
    padding:0px;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-color: #3A9BDC;
}
 /* this is css for candidate card in voting  page */

.card{
    margin-left: 20%;
    margin-top: 4%;
    height: 20vh;
    width: 60vw;
    background-color:#E63B60;
    backdrop-filter: blur(1 px);
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(68, 68, 68, 1);
   
}
.card p{
    color: white;
}

 /* this is css for image inside voting  card */
 
.profile{
    padding: 1%;
    height: 20vh;
    width: 15vw;

}
.profile>img{
    width: 100%;
    height: 100%;
}
.detail{
    padding-top:  5vh ;
    width: 45vw;
    line-height: 3rem;
    font-size: 4rem;
    text-align: center;
    color: azure;
}
.detail>#big{
    font-size: 4rem;
    font-weight: 600;
}

.detail>#small{
    font-size: 2.5rem;
    font-weight: 600;
}
.card-body{
    height: 100%;
    width: 100%;
    display: flex;
}
 /* this is css for voting  page */

.voting-button{
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 12%;
    width: 30vw;
}
button{
    cursor: pointer;
    padding: 1%;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration:wavy;
    font-size: 3rem;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    width: 12vw;
    height: 80%;
    border-color: aliceblue;
}
button:hover{
    color: white;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3,
     0 0 80px #2196f3;
     transition-delay: 0.2s;
}


*{
    margin: 0;
    padding: 0;
}

 /* this is css for pop up in voting  page */

.pop-up{
    width: 20%;
    background-color: #fff;
    border-radius: 6%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px ;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s;
}

.open-pop-up{
    top: 50%;
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);

}
.pop-up img{
    width: 40%;
    margin-top: -20%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.pop-up h2{
    font-size: 2rem;
    font-weight: 500;
    margin: 30px 0 10px;

}
.pop-up p{
    margin-top: 10%;
    font-size: large;
    font-weight: 500;
    line-height: 1.5rem;
}
.pop-up button{
    width: 100%;
    margin-top: 50px;
    padding:10px 0;
    background-color: #32df7f;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 1.5rem;
    border-radius: 6%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
form input[type=submit]{
    cursor: pointer;
    padding: 1%;
    color: white;
    background-color:#E63B60;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration:wavy;
    font-size: 3.5rem;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    width: 25vw;
    height: 15vh;
    border-color: aliceblue;
    margin:5%;
    }
    form input[type=submit]:hover{
        cursor: pointer;
        padding: 1%;
        color: white;
        background-color:black;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration:wavy;
        font-size: 3.5rem;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 20px;
        width: 25vw;
        height: 15vh;
        border-color: aliceblue;
        margin:5%;
        }
@media(max-width:998px){
    html{
        font-size: 65%;
    }
    .profile{
        padding: 1%;
        height: 20vh;
        width: 20vw;
    
    }
    .detail{
        padding-top:  5vh ;
        width: 45vw;
        line-height: 3rem;
        font-size: 4rem;
        text-align: center;
        color: azure;
    }
    .detail>#big{
        font-size: 3rem;
        font-weight: 600;
    }
    
    .detail>#small{
        font-size: 2rem;
        font-weight: 600;
    }
    
}
@media(max-width:768px){
    html{
        font-size: 55%;
    }
    .profile{
        padding: 1%;
        height: 20vh;
        width: 20vw;
    
    }
    .detail{
        padding-top:  5vh ;
        width: 45vw;
        line-height: 3rem;
        font-size: 4rem;
        text-align: center;
        color: azure;
    }
    .detail>#big{
        font-size: 3rem;
        font-weight: 600;
    }
    
    .detail>#small{
        font-size: 2rem;
        font-weight: 600;
    }
    
}
@media(max-width:650px){
    html{
        font-size: 55%;
    }
    .profile{
        padding: 1%;
        height: 18vh;
        width: 25vw;
        margin-top: 1vh;
    
    }
    .detail{
        padding-top:  2vh ;
        width: 45vw;
        line-height: 4rem;
        font-size: 4rem;
        text-align: center;
        color: azure;
    }
    .detail>#big{
        font-size: 3rem;
        font-weight: 600;
    }
    
    .detail>#small{
        font-size: 2rem;
        font-weight: 600;
    }
    button{
        cursor: pointer;
        padding: 1%;
        color: #2196f3;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration:wavy;
        font-size: 2rem;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 20px;
        width: 12vw;
        height: 80%;
        border-color: aliceblue;
    }
    form input[type=submit]{
        cursor: pointer;
        padding: 1%;
        color: white;
        background-color:#E63B60;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration:wavy;
        font-size: 2.5rem;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 20px;
        width: 25vw;
        height: 15vh;
        border-color: aliceblue;
        margin:5%;
        }
        form input[type=submit]:hover{
            cursor: pointer;
            padding: 1%;
            color: white;
            background-color:black;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-decoration:wavy;
            font-size: 2.5rem;
            overflow: hidden;
            transition: 0.2s;
            border-radius: 20px;
            width: 25vw;
            height: 15vh;
            border-color: aliceblue;
            margin:5%;
            }
    
}